.nav_bar {
    background-color: #2255EA;
    width: 6vw;
    max-width: 88px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lleter_logo {
    margin-top: 36px;
}

.nav_bar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list_container_one {
    height: 372px;
}

.list_container_two {
    height: 186px;
}

.nav_bar_item_active {
    position: absolute;
    left: 0px;
    margin-bottom: 5px;    
}

.nav_bar-list--item-active {
    display: flex;
    align-items: center;
}