.avtrization {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.glazgo {
    box-sizing: border-box;
    padding: 84px 64px;
    border-radius: 24px;
    background-color: rgba(222, 222, 222, 1);
    width: 576px;
    height: 704px;
}

.logo {
    margin-top: 134px;
}

.flag {
    margin-right: 12px;
}

.language {
    height: 26px;
    display: flex;
}

.form {
    display: flex;
    justify-content: center;
    margin-left: -128px;
    margin-top: 160px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: rgba(238, 238, 238, 1);
    width: 768px;
    height: 704px;
}

.form_avtorization {
    margin-top: 207px;
    width: 386px;
    display: flex;
    flex-direction: column;
}

.form_avtorization h2 {
    text-align: center;
    margin-bottom: 40px;
}

.container_input {
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 384px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    background-color:#FFFFFF;
}

.container_input svg {
    margin-left: 16px;
}

.container_input input {
    box-sizing: border-box;
    margin-left: -42px;
    border-radius: 4px;
    padding: 8px 46px;
    width: 101%;
    height: 100%;
    border: 1px solid #C5C5C7;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container_input_button {
    margin-top: 152px;
    height: 48px;
    border-radius: 6px;
    background-color: rgb(34, 85, 234);
    opacity: 40%;
    border: none;
    color: white;
}

.container_input_button:disabled {
    background-color: #757D8D;
}

.container_input input:focus-visible {
    outline: 1px solid rgb(34, 85, 234);
}


.author {
    text-align: center;
    margin-top: 40px;
}

.language select {
    border: none;
    width: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../images/caret-down-24.png") 96% / 43% no-repeat rgba(222, 222, 222, 1);
}

.language select::-ms-expand { 
    display: none; /* удалите стрелку по умолчанию в IE 10 и 11 */
}

.help--massage {
    margin-top: 6px;
    margin-left: -63px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 512px;
    height: 96px;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
}

.help--massage--container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.005em;
    text-align: left;
}

.help--massage p {
    width: 384px;
    margin: 0;
}

.help--massage--close {
    background: none;
    border: none;
    padding: 0;
    height: 24px;
}

.masccot {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    background-color: #B9B9B9;
    width: 159px;
    height: 243px;
    margin-top: 238px;
    margin-bottom: -76px;
    border-radius: 88px / 140px;
}