.filter_form {
    box-sizing: content-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.header_filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.header_filter h3 {
    margin: 0;
}

.filter--serch {
    display: flex;
    width: 100%;
}

.filter_close {
    background: transparent;
    border: none;
}

.filter h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
}

.form_elem_style {
    padding: 0;
    border-radius: 4px;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
    width: 100%;
    height: 32px;
    margin-bottom: 8px;
}

.filter--serch {
    position: relative;
}

.filter--serch svg {
    position: absolute;
    right: 8px;
    top: 8px
}

.button_form_color {
    background: transparent;
    border: 1px solid #2255EA;
    color: #2255EA;
    margin-bottom: 24px;
}

.salary-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filter_element--select {
    width: 45%;
    height: 32px;
    border-radius: 4px;
    color: #B3B3B3;
    border: 1px solid #B3B3B3;
    margin-bottom: 24px;
}

.filter--checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.filter--checkbox div {
    margin-bottom: 8px;
}

.filter--checkbox span {
    margin-left: 12px;
}

.filter_radio {
    margin-bottom: 24px;
}

.filter_radio label{
    margin-left: 12px;
}

.filter_radio div {
    margin-bottom: 8px;
}

.filter_button_ok {
    border: none;
    background-color: #757D8D;
    color: #FFFFFF;
    margin-top: 32px;
}

.filter_button_clear {
    color: #111111;
}

.filter::-webkit-scrollbar {
    width: 10px; 
    background: white;
    border: 1px solid rgba(214, 216, 221, 0.5);
    border-radius: 30px; 
}

.filter::-webkit-scrollbar-thumb {
    background-color: rgba(214, 216, 221, 0.5);
    border-radius: 30px;
}

input[type=date]::-webkit-datetime-edit {
    color: white;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.margin_end {
    margin-bottom: 24px;
}
