.selection_window {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.selection_count {
    display: flex;
    align-items: center;
}

.selection_clear {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-left: 16px;
    margin-right: 40px;
    
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.005em;
    text-align: left;
}

.selection_count p {
    margin: 0;
}

.selection_count--buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42vw;
}

.selection_button {
    height: 100%;
    background-color: #F5F9FF;
    color: #2255EA;
    border-radius: 6px;
    border: 1px solid #B7CAEF;
    width: 29%;
}

.display_none {
    display: none;
}
